-i https://pypi.org/simple

isort==5.13.2

mypy==1.8.0

pylint==3.1.0

pytest==8.0.2

pytest-cov==4.1.0

toml==0.10.2

typing-extensions==4.9.0

yapf==0.40.2

microsoft-kiota-abstractions==1.2.0

pendulum==3.0.0

